{
  "env": { <%if(config.unit==='krama'){%>
    "mocha": true<%}%><%if(config.lint==='airbnb'){%>
    "jest": true<%}%>
  },
  "globals": { <%if(config.unit==='krama'){%>
    "expect": true,
    "sinon": true<%}%>
  }
}
